.drop-down-list {
  &:not(:last-child) {
    padding-bottom: 5px; 
     margin-bottom: 5px;
  }
  
  &__label {
    color: white;
    font-size: 18px;
    font-weight: 600;
  }
  
  &__select {
    margin-left: 5px;
  }
}